In [1]:
import pandas as pd

In [2]:
player_names = "player_names.csv"
player_names_df = pd.read_csv(player_names)
player_names_df.head()

       id first_name   last_name
0  452657        Jon      Lester
1  425794       Adam  Wainwright
2  457435       Phil        Coke
3  435400      Jason       Motte
4  519166       Neil     Ramirez

In [3]:
atbats = "atbats.csv"
atbats_df = pd.read_csv(atbats)
atbats_df.head()

,ab_id,batter_id,event,g_id,inning,o,p_score,p_throws,pitcher_id,stand,top
0,2015000001,572761,Groundout,201500001,1,1,0,L,452657,L,True
1,2015000002,518792,Double,201500001,1,1,0,L,452657,L,True
2,2015000003,407812,Single,201500001,1,1,0,L,452657,R,True
3,2015000004,425509,Strikeout,201500001,1,2,0,L,452657,R,True
4,2015000005,571431,Strikeout,201500001,1,3,0,L,452657,L,True

In [4]:
atbats_df = atbats_df.rename(columns = {"batter_id":"id"})

In [5]:
atbats_df.head()

,ab_id,id,event,g_id,inning,o,p_score,p_throws,pitcher_id,stand,top
0,2015000001,572761,Groundout,201500001,1,1,0,L,452657,L,True
1,2015000002,518792,Double,201500001,1,1,0,L,452657,L,True
2,2015000003,407812,Single,201500001,1,1,0,L,452657,R,True
3,2015000004,425509,Strikeout,201500001,1,2,0,L,452657,R,True
4,2015000005,571431,Strikeout,201500001,1,3,0,L,452657,L,True

In [6]:
games = "games.csv"
games_df = pd.read_csv(games)
games_df.head()

,attendance,away_final_score,away_team,date,elapsed_time,g_id,home_final_score,home_team,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay
0,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0
1,45909,1,ana,2015-04-06,153,201500002,4,sea,1:12 PM,Ron Kulpa,Brian Knight,Vic Carapazza,Larry Vanover,Safeco Field,"54 degrees, cloudy","1 mph, Varies",0
2,36969,2,atl,2015-04-06,156,201500003,1,mia,4:22 PM,Laz Diaz,Chris Guccione,Cory Blaser,Jeff Nelson,Marlins Park,"80 degrees, partly cloudy","16 mph, In from CF",16
3,31042,6,bal,2015-04-06,181,201500004,2,tba,3:12 PM,Ed Hickox,Paul Nauert,Mike Estabrook,Dana DeMuth,Tropicana Field,"72 degrees, dome","0 mph, None",0
4,45549,8,bos,2015-04-06,181,201500005,0,phi,3:08 PM,Phil Cuzzi,Tony Randazzo,Will Little,Gerry Davis,Citizens Bank Park,"71 degrees, partly cloudy","11 mph, Out to RF",0

In [7]:
merge_df = pd.merge(player_names_df, atbats_df, on = "id")

In [8]:
merge_df.head(100)

,id,first_name,last_name,ab_id,event,g_id,inning,o,p_score,p_throws,pitcher_id,stand,top
0,452657,Jon,Lester,2015000019,Strikeout,201500001,2,3,2,R,425794,L,False
1,452657,Jon,Lester,2015007149,Forceout,201500094,1,3,3,R,502190,L,False
2,452657,Jon,Lester,2015007168,Strikeout,201500094,4,2,3,R,502190,L,False
3,452657,Jon,Lester,2015013763,Forceout,201500183,1,3,0,R,488768,L,False
4,452657,Jon,Lester,2015013782,Strikeout,201500183,3,3,2,R,488768,L,False
5,452657,Jon,Lester,2015017932,Strikeout,201500238,3,2,1,R,502190,L,True
6,452657,Jon,Lester,2015017950,Groundout,201500238,5,2,3,R,502190,L,True
7,452657,Jon,Lester,2015017965,Strikeout,201500238,7,3,3,R,502190,L,True
8,452657,Jon,Lester,2015025224,Strikeout,201500334,2,3,0,R,503449,L,False
9,452657,Jon,Lester,2015025241,Strikeout,201500334,4,2,0,R,503449,L,False
10,452657,Jon,Lester,2015025259,Groundout,201500334,7,1,0,R,502026,L,False
11,452657,Jon,Lester,2015030160,Flyout,201500400,2,1,0,R,458681,L,True
12,452657,Jon,Lester,2015030178,Groundout,201500400,4,3,1,R,458681,L,True
13,452657,Jon,Lester,2015030194,Groundout,201500400,6,2,2,R,458681,L,True
14,452657,Jon,Lester,2015035791,Groundout,201500474,1,3,0,R,594798,L,False
15,452657,Jon,Lester,2015035814,Strikeout,201500474,4,2,1,R,594798,L,False
16,452657,Jon,Lester,2015041117,Strikeout,201500544,2,2,0,R,543037,L,False
17,452657,Jon,Lester,2015041136,Strikeout,201500544,4,3,1,R,543037,L,False
18,452657,Jon,Lester,2015046463,Groundout,201500615,2,3,1,R,518567,L,True
19,452657,Jon,Lester,2015046480,Strikeout,201500615,4,2,1,R,518567,L,True
20,452657,Jon,Lester,2015046500,Strikeout,201500615,7,1,2,R,543339,L,True
21,452657,Jon,Lester,2015053014,Flyout,201500703,2,3,0,R,453286,L,False
22,452657,Jon,Lester,2015053033,Strikeout,201500703,4,3,1,R,453286,L,False
23,452657,Jon,Lester,2015059218,Flyout,201500785,3,2,4,R,429717,L,True
24,452657,Jon,Lester,2015059234,Lineout,201500785,5,2,4,R,429717,L,True
25,452657,Jon,Lester,2015070277,Groundout,201500933,2,2,0,R,543101,L,False
26,452657,Jon,Lester,2015070297,Groundout,201500933,5,1,0,R,543101,L,False
27,452657,Jon,Lester,2015082142,Grounded Into DP,201501089,2,3,4,R,516910,L,False
28,452657,Jon,Lester,2015087812,Strikeout,201501165,2,3,0,R,112526,L,True
29,452657,Jon,Lester,2015087833,Strikeout,201501165,5,2,0,R,112526,L,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,452657,Jon,Lester,2015178657,Strikeout,201502356,8,2,1,L,571561,L,True
71,452657,Jon,Lester,2016006868,Walk,201600091,3,1,2,L,605232,L,False
72,452657,Jon,Lester,2016006886,Sac Bunt,201600091,5,2,3,L,605232,L,False
73,452657,Jon,Lester,2016012923,Strikeout,201600172,3,3,0,R,543022,L,False
74,452657,Jon,Lester,2016012943,Double,201600172,6,0,1,R,543022,L,False
75,452657,Jon,Lester,2016017581,Lineout,201600234,2,3,0,R,621209,L,True
76,452657,Jon,Lester,2016017597,Sac Bunt,201600234,4,2,0,R,621209,L,True
77,452657,Jon,Lester,2016017618,Groundout,201600234,7,1,1,R,500724,L,True
78,452657,Jon,Lester,2016024774,Groundout,201600327,3,1,0,R,594760,L,False
79,452657,Jon,Lester,2016024790,Grounded Into DP,201600327,5,3,1,R,594760,L,False
80,452657,Jon,Lester,2016030117,Groundout,201600399,2,3,0,R,504379,L,True
81,452657,Jon,Lester,2016030133,Groundout,201600399,4,1,0,R,504379,L,True
82,452657,Jon,Lester,2016030148,Groundout,201600399,5,3,0,R,453172,L,True
83,452657,Jon,Lester,2016036865,Forceout,201600487,2,3,0,R,570714,L,False
84,452657,Jon,Lester,2016036879,Flyout,201600487,3,3,0,R,570714,L,False
85,452657,Jon,Lester,2016036898,Groundout,201600487,5,3,3,R,606131,L,False
86,452657,Jon,Lester,2016042275,Groundout,201600556,3,1,0,R,543037,L,False
87,452657,Jon,Lester,2016042290,Groundout,201600556,5,3,0,R,543037,L,False
88,452657,Jon,Lester,2016047809,Strikeout,201600629,2,3,0,R,430912,L,True
89,452657,Jon,Lester,2016054258,Strikeout,201600714,3,1,1,L,605388,L,False
90,452657,Jon,Lester,2016054271,Groundout,201600714,4,2,1,L,605388,L,False
91,452657,Jon,Lester,2016054289,Grounded Into DP,201600714,6,3,1,L,519085,L,False
92,452657,Jon,Lester,2016059589,Groundout,201600784,2,3,1,R,502211,L,False
93,452657,Jon,Lester,2016059609,Groundout,201600784,5,1,1,R,502211,L,False
94,452657,Jon,Lester,2016059627,Strikeout,201600784,8,1,1,R,502272,L,False
95,452657,Jon,Lester,2016064721,Groundout,201600852,2,2,0,L,605388,L,True
96,452657,Jon,Lester,2016064738,Double,201600852,4,1,0,L,605388,L,True
97,452657,Jon,Lester,2016064753,Flyout,201600852,6,3,0,L,605388,L,True
98,452657,Jon,Lester,2016064768,Strikeout,201600852,8,2,0,R,457732,L,True
99,452657,Jon,Lester,2016070691,Strikeout,201600931,2,3,1,R,607231,L,True

In [9]:
final_df = pd.merge(merge_df, games_df, on = "g_id")
final_df.head()

,id,first_name,last_name,ab_id,event,g_id,inning,o,p_score,p_throws,...,home_team,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay
0,452657,Jon,Lester,2015000019,Strikeout,201500001,2,3,2,R,...,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0
1,425794,Adam,Wainwright,2015000013,Strikeout,201500001,2,2,0,L,...,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0
2,425794,Adam,Wainwright,2015000031,Groundout,201500001,4,3,0,L,...,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0
3,425794,Adam,Wainwright,2015000047,Pop Out,201500001,6,2,0,R,...,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0
4,424325,David,Ross,2015000018,Flyout,201500001,2,2,2,R,...,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0

In [10]:
import pymongo
conn= "mongodb://localhost:27017"
client= pymongo.MongoClient(conn)

In [13]:
db=client.etlproject
baseball_data=db.etlproject
records_ = final_df. to_dict(orient = 'records')
insert=records_